
<section class="hero">
 <div class="container">
  <h1>See the Benefits on Your Production Line</h1>
  <a du-smooth-scroll href="#contact-us" class="btn btn-outline">Contact Us Today</a>
 </div>
</section>


<section id="after-sales-service" class="section">
  <div class="container">
    <div class="col-md-6 col-sm-12">
      <img src="images/AZOEBlast(After-SalesService)Path.jpg" alt="" class="hidden-sm hidden-xs">
    </div>
    <div class="col-md-8 ">
      <h2>AFTER-SALES SERVICE</h2>
      <p>For any existing AZO® automated material handling system, there’s a straightforward solution to keep it performing at peak productivity.  Always count on AZO® Service for a full range of professional support services and original spare parts.  From preventative maintenance and troubleshooting to retraining and replacement parts, it’s everything you need to ensure razor edge performance from your AZO® system:</p>
        <ul>
            <li>24/7 service availability</li>
            <li>Preventative inspections and maintenance </li>
            <li>Remote diagnostics for faster response times</li>    
            <li>Employee retraining and instruction on existing AZO® systems</li>
            <li>Original spare parts and documentation</li>
        </ul>
      <a href="#" class="btn btn-lg btn-warning">
          <svg width="28" height="28" viewBox="0 0 1024 1024"><g ><path d="M917.806 229.076c-22.212-30.292-53.174-65.7-87.178-99.704s-69.412-64.964-99.704-87.178c-51.574-37.82-76.592-42.194-90.924-42.194h-496c-44.112 0-80 35.888-80 80v864c0 44.112 35.888 80 80 80h736c44.112 0 80-35.888 80-80v-624c0-14.332-4.372-39.35-42.194-90.924zM785.374 174.626c30.7 30.7 54.8 58.398 72.58 81.374h-153.954v-153.946c22.984 17.78 50.678 41.878 81.374 72.572zM896 944c0 8.672-7.328 16-16 16h-736c-8.672 0-16-7.328-16-16v-864c0-8.672 7.328-16 16-16 0 0 495.956-0.002 496 0v224c0 17.672 14.326 32 32 32h224v624z"></path><path d="M736 832h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 704h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 576h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path></g></svg>
      <span>Read More About Our Service</span>
      </a>
    </div>
  </div>
</section>


<section id="spare-parts" class="section blue">
  <div class="container">
    <div class="col-md-8 ">
      <h2>NEW SYSTEM DESIGN</h2>
      <p>For your next bulk materials handling challenge, AZO® is your automatic solution.
Within the food, hygienic products, pharmaceutical, plastic and chemical industries, we’re known around the world for designing and building highly automated systems that are as reliable as they are energy-efficient.  From initial design through installation and training, we supply everything needed from a single supplier—so you can benefit from having a customized, complete system ready for operation and under a single AZO® warranty.</p>
    <p><strong>With AZO®, the benefits are automatic:</strong></p>
    <ul>
        <li>35+ years of experience in material handling systems design</li>
        <li>Custom-designed systems using cutting-edge technologies </li>         
        <li>On-site construction assistance during system installation and startup</li>
        <li>Comprehensive employee training and production assistance</li>
        <li>Seamless integration with plant engineering, construction and process IT</li>
        <li>AZO®’s custom designs mean shorter assembly times, ease of service, and the flexibility to expand volume or number of products</li>
        <li>Retrofit and relocation services</li>
     </ul>
      <a href="#" class="btn btn-lg btn-warning">
          <svg width="28" height="28" viewBox="0 0 1024 1024"><g ><path d="M917.806 229.076c-22.212-30.292-53.174-65.7-87.178-99.704s-69.412-64.964-99.704-87.178c-51.574-37.82-76.592-42.194-90.924-42.194h-496c-44.112 0-80 35.888-80 80v864c0 44.112 35.888 80 80 80h736c44.112 0 80-35.888 80-80v-624c0-14.332-4.372-39.35-42.194-90.924zM785.374 174.626c30.7 30.7 54.8 58.398 72.58 81.374h-153.954v-153.946c22.984 17.78 50.678 41.878 81.374 72.572zM896 944c0 8.672-7.328 16-16 16h-736c-8.672 0-16-7.328-16-16v-864c0-8.672 7.328-16 16-16 0 0 495.956-0.002 496 0v224c0 17.672 14.326 32 32 32h224v624z"></path><path d="M736 832h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 704h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 576h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path></g></svg>
      <span>Read More About Our Service</span>
      </a>
    </div>
    <div class="col-md-4 col-sm-12">
      <img src="images/AZOEBlast(SpareParts)Path.jpg" alt=""  class="hidden-sm hidden-xs">
    </div>
  </div>
</section>
<section id="new-system-design" class="section">
  <div class="container">
    <div class="col-md-4 col-sm-12">
      <img src="images/AZOEBlast(NewSystemDesign)Path.jpg" alt=""  class="hidden-sm hidden-xs">
    </div>
    <div class="col-md-8">
      <h2>SPARE PARTS</h2>
      <p>For any existing AZO® automated material handling system, there’s a straightforward solution to keep it performing at peak productivity.  Always count on AZO® Service for a full range of professional support services and original spare parts.  From preventative maintenance and troubleshooting to retraining and replacement parts, it’s everything you need to ensure razor edge performance from your AZO® system:</p>
      <ul>
        <li>Optimal Throughput and Maximum Productivity</li>
        <li>Time/Labor Savings</li>
        <li>Fewer Production Line Problems and Delays</li>
        <li>Additional Energy Savings</li>
        <li>Reduced Equipment Wear and Tear</li>
      </ul>
      <a href="#" class="btn btn-lg btn-warning">
          <svg width="28" height="28" viewBox="0 0 1024 1024"><g ><path d="M917.806 229.076c-22.212-30.292-53.174-65.7-87.178-99.704s-69.412-64.964-99.704-87.178c-51.574-37.82-76.592-42.194-90.924-42.194h-496c-44.112 0-80 35.888-80 80v864c0 44.112 35.888 80 80 80h736c44.112 0 80-35.888 80-80v-624c0-14.332-4.372-39.35-42.194-90.924zM785.374 174.626c30.7 30.7 54.8 58.398 72.58 81.374h-153.954v-153.946c22.984 17.78 50.678 41.878 81.374 72.572zM896 944c0 8.672-7.328 16-16 16h-736c-8.672 0-16-7.328-16-16v-864c0-8.672 7.328-16 16-16 0 0 495.956-0.002 496 0v224c0 17.672 14.326 32 32 32h224v624z"></path><path d="M736 832h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 704h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path><path d="M736 576h-448c-17.672 0-32-14.326-32-32s14.328-32 32-32h448c17.674 0 32 14.326 32 32s-14.326 32-32 32z"></path></g></svg>
      <span>Read More About Spare Parts</span>
      </a>
    </div>
  </div>
</section>
<section id="contact-us" class="section gray">
  <div class="container">
   <h2>Contact Us</h2>
   <p>Whether you need troubleshooting of an existing system, a whole new system design, or simply a replacement part, AZO® stands ready to answer the call.
Just let us know how we can help.</p>


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Contact Me For</label>
  <div class="col-md-8">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Service Visit">
      Service Visit
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="System Inspection or Troubleshooting">
      System Inspection or Troubleshooting
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-2">
      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Preventative Maintenance Program">
      Preventative Maintenance Program
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-3">
      <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Spare Parts Order">
      Spare Parts Order
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-4">
      <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Components Repair or Refurbishment">
      Components Repair or Refurbishment
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-5">
      <input type="checkbox" name="checkboxes" id="checkboxes-5" value="System Retrofit or Modifications">
      System Retrofit or Modifications
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-6">
      <input type="checkbox" name="checkboxes" id="checkboxes-6" value="System Relocation Services">
      System Relocation Services
    </label>
	</div>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Preferred Time</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="AM" checked="checked">
      AM
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="PM">
      PM
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Preferred Day</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Title</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Company</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address Line 1</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address Line 2</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">City</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">State</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Zip</label>  
  <div class="col-md-2">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Fax</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Is your AZO® system still in operation?</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="Yes" checked="checked">
      Yes
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="No">
      No
    </label>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">If No, how long offline?</label>  
  <div class="col-md-2">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Appended Input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="appendedtext">How old is your AZO® system? </label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="appendedtext" name="appendedtext" class="form-control" placeholder="" type="text">
      <span class="input-group-addon">years</span>
    </div>
    <p class="help-block">help</p>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">What type of AZO® system do you have?</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">And what type of product(s) does the system typically handle?</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

</fieldset>
</form>




  </div>
</section>

